name: Deploy OIDC stub to Build
on:
  workflow_dispatch:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches:
      - main
    paths:
      - 'oidc-stub/**'
      - .github/workflows/post-merge-oidc-stub-to-build.yml

permissions:
  id-token: write
  contents: read

env: # Only adding the variables in that are required for
  AWS_REGION: eu-west-2

jobs:
  deploy-to-dev:
    name: Validate & Deploy OIDC stub template to Build Environment
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: oidc-stub
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true

      - name: Assume temporary AWS role
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.BUILD_OIDC_STUB_GH_ACTIONS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: SAM Validate
        run: sam validate --region ${{ env.AWS_REGION }} -t template.yaml

      - name: SAM Build
        run: sam build -t template.yaml

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@v3.11.1
        with:
            artifact-bucket-name: ${{ secrets.BUILD_OIDC_STUB_ARTIFACT_SOURCE_BUCKET_NAME }}
            signing-profile-name: ${{ secrets.BUILD_RETURN_SIGNING_PROFILE_NAME }}
            working-directory: oidc-stub
            template-file: .aws-sam/build/template.yaml
